@using EmailTemplating.Models
@model EmailTemplating.Web.Models.TemplateViewModel
@{
    ViewBag.Title = "Email Template";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
     @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div style="float: right" >
        <button type="submit" onClick="return ( ValidateFields() && validateRadioButtons())" class="btn btn-primary">Save</button>
        @Html.ActionLink("Cancel", "Grid", null, new { @class = "btn btn-default" })
    </div><fieldset class="form-horizontal">
              <legend>Add/Edit </legend>
              <br/>
              <div class="form-group">
                  @Html.HiddenFor(model => model.Template.TemplateID)
                  @Html.LabelFor(model => model.Template.Name, new { @class = "col-sm-2 control-label" })
                  <div class="col-sm-10">
                      @Html.TextBoxFor(model => model.Template.Name, new { @class = " mandatory form-control"})
                  </div>
              </div>
              <div class="form-group">
                  @Html.LabelFor(model => model.Template.Description, new { @class = "col-sm-2 control-label" })
                  <div class="col-sm-10">
                      @Html.TextBoxFor(model => model.Template.Description, new { @class = " mandatory form-control"})
                  </div>
              </div>
              <div class="form-group">
                  @Html.LabelFor(model => model.Template.Body, new { @class = "col-sm-2 control-label" })
                  <div class="col-sm-10">
                      @Html.TextAreaFor(model => model.Template.Body, new { @class = " mandatory form-control"})
                  </div>
              </div>
        
              <label  >Select MergeVarMaps Tags</label>
              <div class="col-sm-10">
                  @foreach (var mergeVarMap in Model.MergeVarMaps)
                  {
                      @Html.RadioButton("SelectedMergeVarMap", @mergeVarMap.MergeVarMapID,(Model.Template!=null && mergeVarMap.MergeVarMapID==Model.Template.MergeVarMapID));
                      <label for='@mergeVarMap.Name'> @mergeVarMap.Name</label>   
                      <br/>
                  }
              </div>
          </fieldset>
}         
<script type="text/javascript" src="~/Scripts/app/ValidateFields.js"></script>      
<script type="text/javascript" >
    

    function CheckValue() {
        
    }

</script>     
