@model IEnumerable<EmailTemplating.Models.Template>

@{
    ViewBag.Title = "Templates";
}

<h2>Templates <small>GRID</small></h2>

<p>
    @Html.ActionLink("Create New Template", "Add")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            Merge Tag Map
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="width: 10%;">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="width: 20%;">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="mono" style="width: 40%; overflow: scroll; background: #e8eced;">
            @Html.Raw(item.Body.Replace(Environment.NewLine, "<br />"))
        </td>
        <td class="small mono" style="width: 20%;">
            @foreach (var tag in item.TagMap.MapItems)
            {
                <div>
                    @Html.DisplayFor(m => tag.VariableName)
                    =&gt;
                    @Html.DisplayFor(m => tag.PropertyName)
                </div>
            }
        </td>
        <td style="width: 10%;">
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
