@model EmailTemplating.Web.Models.ParkingViewModel

@{
    ViewBag.Title = "Employees";
}

<h2>
    Employees
</h2>

    <div class="form-group" style="width: 100%; float: left">
        <div class="col-md-2">
            @Html.ActionLink("Send Email", "SendParking", new { name = "nameValue",IsPreview=false,SelectedList="SelectedListValues"}, new { @class = "btn btn-primary",id="btnSendEmail"  })
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Preview Email", "SendParking", new { name = "nameValue",IsPreview=true,SelectedList="SelectedListValues"}, new { @class = "btn btn-primary",id="btnPreviewEmail" })
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(x=>x.SelectedEmail, new SelectList(Model.Emails,"EmailID","Category"), new { @class = "form-control col-sm-2",id="ddlEmail" })
        </div>
    </div>

<table id="GRID" class="table table-striped table-hover">
    <tr>
        <th>
            <label for="chkTOGGLE"><input type="checkbox" id="chkTOGGLE" /> <span id="lblTOGGLE">select all</span></label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.)*@
            First Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.LastName)*@
            Last Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Email)*@
            Email
        </th>
    </tr>

@foreach (var item in Model.dataset) {
    <tr data-ref="@item.ID">
        <td>
            <input type="checkbox" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
    </tr>
}

</table>

@section Scripts {

    <script type="text/javascript" src="@Url.Content("~/Scripts/app/toggler.js")"></script>
<script>
    $("#btnSendEmail").click(function (evt) {
        $("#btnSendEmail").prop("href", ProcessValue($("#btnSendEmail").prop("href")));
    });
    $("#btnPreviewEmail").click(function (evt) {
        $("#btnPreviewEmail").prop("href", ProcessValue($("#btnPreviewEmail").prop("href")));
    });

    
    function ProcessValue(fakedUri) {
        var uri = fakedUri.replace("nameValue", $('#ddlEmail').val());
        uri = uri.replace("SelectedListValues", getSelectedList());
        return uri;
    }
    function getSelectedList() {
        var selectedList = "";
        $("input:checkbox:checked").each(function ()
        {
            if ($(this).closest('tr').attr('data-ref') != undefined && $(this).closest('tr').attr('data-ref').length > 0) {
                selectedList += $(this).closest('tr').attr('data-ref')+",";
            }
        });
        if (selectedList.length > 1)
            selectedList = selectedList.substring(0, selectedList.length - 1);
        return selectedList;
    }
</script>

}