@using Microsoft.Ajax.Utilities
@model EmailTemplating.Models.MergeVarMap
@{
    ViewBag.Title = "Merge Var Map";
}
<h2 class="page-header col-sm-10" style="float: left; margin-top: 10px;">@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="col-sm-2" style="float: right; margin-top: 10px;">
        <button type="submit" onclick="return ValidateFields();" class="btn btn-primary">Save</button>
        @Html.ActionLink("Cancel", "Grid", null, new { @class = "btn btn-default" })
    </div>
    
    <div class="form-horizontal col-sm-12" style="width: 100%; float: left">
        
        <br />
        <div class="form-group">
            @Html.HiddenFor(model => model.MergeVarMapID)
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-6">
                @Html.TextBoxFor(model => model.Name, new { @class = " mandatory form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        
        <div class="form-group">
            <h5 class="page-header col-sm-10">
                Merge Var Map Items
            </h5>
            <div class="col-sm-2" style="margin-top: 30px; float: right">
                <input type="button" class="btn btn-success" onclick="AddChoice()" value="Add Merge Tags" />
            </div>
            <table id="MergeTagMapsTable" class="col-sm-12">
                <tbody>
                    @if (Model != null && Model.MapItems != null && Model.MapItems.Count > 0)
                    {
                        var counter = 0;
                        foreach (var mapItem in Model.MapItems)
                        {
                            var variable = "MapItems[" + @counter + "].VariableName";
                            var variablePropertyName = "MapItems[" + @counter + "].PropertyName";
                            var variableIdName = "MapItems[" + @counter + "].MergeVarMapItemID";
                            <tr>
                                <td class="col-sm-2">
                                    <input type="hidden" name="@variableIdName" value="@mapItem.MergeVarMapItemID" class="hdMergeMap">
                                    @Html.LabelFor(model => mapItem.VariableName, new { @style = "float: right" })
                                </td>
                                <td class="col-sm-3">
                                    @Html.TextBox(variable,mapItem.VariableName,new { @class = "mandatory form-control variable" })
                                </td>
                                <td class="col-sm-2">
                                    @Html.LabelFor(model => mapItem.PropertyName, new { @style = "float: right" })

                                </td>
                                <td class="col-sm-3">
                                    @Html.TextBox(variablePropertyName,mapItem.PropertyName,new { @class = "mandatory form-control property" })
                                </td>
                                <td class="col-sm-2">

                                    <a href="#" onclick="delMergeVarMapRow(this,@counter);">Delete</a>
                                </td>
                                <td class="col-sm-2"></td>
                            </tr>
                            <tr style="height:10px;"></tr>
                            counter++;
                        }
                    }
                </tbody>
            </table>        
        </div>        
        <input type="hidden" value="@(Model == null ? 0 : Model.MapItems.Count)" id="mapItemsCount" name="O_" />
    </div>    
}
<script type="text/javascript" src="~/Scripts/app/AddMergeVarMap.js"></script>
<script type="text/javascript" src="~/Scripts/app/ValidateFields.js"></script>
