@model System.Collections.Generic.IEnumerable<EmailTemplating.Models.MergeVarMap>

@{
    ViewBag.Title = "Merge Tag Maps";
}

<p>
    @Html.ActionLink("Create New Map", "AddEdit")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MergeVarMapID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
           Map
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MergeVarMapID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="mono">
            @foreach (var tag in item.MapItems)
            {
                <div>
                    @Html.DisplayFor(m => tag.VariableName)
                    =&gt;
                    @Html.DisplayFor(m => tag.PropertyName)
                </div>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "AddEdit", new { id=item.MergeVarMapID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MergeVarMapID })
            <input type="hidden" id="errorMSG" value=@TempData["ErrorMessage"]/>
        </td>
    </tr>
}

</table>
